@model arragro.com.ContentTypes.Pages.ContactPage
@{
    Layout = ViewBag.Layout;
}

@section header {
    <standard-header title='Contact Arragro' />
}

<div id="contact">
    @*<div id="intro" class="container d-flex justify-content-center">
            <div class="col-12 col-md-12 col-lg-11 col-xl-12">
                <markdown markdown=@Model.MarkdownIntro></markdown>
            </div>
        </div>
    <div class="contact-container">
         <div class="map-container container-fluid p-0 d-none d-md-block">
            <div class="row  no-gutters">
                <div class="col-12 col-md-6 pr-0">
                </div>
                <div class="col-12 col-md-6 pl-0">
                    <div id="map" style="height:100%;width:100%;"></div>
                </div>
            </div>
        </div>
        <div class="contact-details container justify-content-md-center">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 pt-5">
                    <div class="row">
                        <div class="location col-12 col-lg-6">
                            <h5>Location</h5>
                            <div>@Model.AddressLine1</div>
                            <div>@Model.AddressLine2</div>
                            <div>@Model.City</div>
                            <div>@Model.District</div>
                            <div>@Model.Country</div>
                            <div>@Model.PostCode</div>
                        </div>
                        <div class="contact-details col-12 col-lg-6">
                            <h5>Contact Details</h5>
                            @if (!string.IsNullOrEmpty(@Model.OfficeTelephone))
                            {
                                <div><a href="tel:@Model.OfficeTelephone">@Model.OfficeTelephone</a></div>
                            }
                            <div><a href="mailto:@Model.OfficeEmail">@Model.OfficeEmail</a></div>
                        </div>
                    </div>
                    <div class="contact-section row align-center">
                        @foreach (var contact in Model.Contacts)
                        {
                            <div class='col-12 col-lg-6'>
                                @if (!string.IsNullOrEmpty(contact.Gravitar))
                                {
                                    <div class="technology-image">
                                        <img src="@contact.Gravitar" alt="@contact.Title" />
                                    </div>
                                }
                                <h5>@contact.Name</h5>
                                <div><a href="tel:@contact.PhoneNumber">@contact.PhoneNumber</a></div>
                                <div><a href="mailto:@contact.Email">@contact.Email</a></div>
                                @if (!string.IsNullOrWhiteSpace(contact.LinkedIn))
                                {
                                    <div><a href="@contact.LinkedIn">LinkedIn</a></div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-6">
                </div>
            </div>
        </div>
        <div class="map-container container-fluid p-0 d-block d-md-none">
            <div class="row  no-gutters">
                <div class="col-12 col-md-6 pr-0">
                </div>
                <div class="col-12 col-md-6 pl-0">
                    <div id="map-small" style="height:100%;width:100%;"></div>
                </div>
            </div>
        </div>
    </div> *@

@if  (Model.HasContactForm)
{
    <partial name="../Shared/ContactForm.cshtml" model="new ContactForm()" />
}

</div>

@section scripts {
@* <script>
        function initMap() {
            var aucklandCenter = { lat: @Model.Latitude, lng: @Model.Longitude };
            var mapOptions = {
                zoom: 14,
                center: aucklandCenter,
                styles: @Html.Raw(Model.GoogleMapStyleJson),
                disableDefaultUI: true,
                fullscreenControl: true,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.TOP_LEFT
                },
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var mapSmall = new google.maps.Map(document.getElementById('map-small'), mapOptions);

            var arragroMarker = { lat: @Model.Latitude, lng: @Model.Longitude };
            new google.maps.Marker({
                position: arragroMarker,
                map: map
            });
            new google.maps.Marker({
                position: arragroMarker,
                map: mapSmall
            });
        }
</script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHp7Y96FhOI_v5pxoorJZ3VuIrQ6vVP_c&callback=initMap">
    </script> *@
<google-recaptcha-client></google-recaptcha-client>
}
