@model arragro.com.ContentTypes.Pages.LandingPage


@section header {
    <header id="landingPageHeader">
        <div class="background-wrap">

            <clouds clouds=Model.StartingClouds class-name="starting-clouds" />

            <div class="sun">
                <div class="ray-box">
                    <div class="ray ray1"></div>
                    <div class="ray ray2"></div>
                    <div class="ray ray3"></div>
                    <div class="ray ray4"></div>
                    <div class="ray ray5"></div>
                    <div class="ray ray6"></div>
                    <div class="ray ray7"></div>
                    <div class="ray ray8"></div>
                    <div class="ray ray9"></div>
                    <div class="ray ray10"></div>
                </div>
            </div>

            <clouds clouds=Model.InfiniteClouds class-name="infinite-clouds" />

            <cloud-banner-text cloud-banner-texts=Model.CloudBannerTexts class-name="banner-text" interval=6000 />

            <div class="look-down">
                <div class="fa-2x"><i class="fal fa-chevron-circle-down"></i></div>
            </div>

        </div>
    </header>
}

@if (!string.IsNullOrWhiteSpace(Model.MarkdownIntro))
{
    <div id="intro">
        <div class="container d-flex justify-content-center">
            <div class="col-lg-10">
                <markdown markdown=@Model.MarkdownIntro></markdown>
            </div>
        </div>
    </div>
}

@if (Model.SvgIconLinksServices.Any())
{
    <div id="services">
        <div class="container">
            <div class="row">
                @foreach (var service in Model.SvgIconLinksServices)
                {
                    <div class="col-xl-3 col-sm-6 col-12">
                        <a href="@service.Href">
                            <div class="service-svg">
                                <span class="fa-layers fa-fw">
                                    <i class="fas fa-circle" data-fa-transform="grow-20"></i>
                                    <i class="@service.Svg fa-inverse" data-fa-transform="grow-4"></i>
                                </span>
                            </div>
                        </a>
                        <div class="service-markdown">
                            <h5>@service.Title</h5>
                            <markdown markdown=@service.Markdown></markdown>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@if (Model.WhatWeveDones.Any())
{
    <div id="whatWeveDone">
        <h3>Our work</h3>
        <div class="container">
            <div class="row justify-content-center">
                @foreach (var whatWeveDone in Model.WhatWeveDones)
                {
                    <div class="col-12 col-md-6 col-xl-5 @Html.Raw(string.IsNullOrWhiteSpace(whatWeveDone.CssClass) ? "" : whatWeveDone.CssClass)">
                        <a href="@whatWeveDone.Href">
                            <div class="what-weve-done-img row align-items-center">
                                <div class="col-12">
                                    <img src="@whatWeveDone.ImageUrl" alt="@whatWeveDone.ImageUrlAlt" />
                                </div>
                            </div>
                        </a>
                        <div class="what-weve-done-markdown">
                            @*<h5>@whatWeveDone.Name</h5>*@
                            <markdown markdown=@whatWeveDone.Markdown></markdown>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@Html.Partial("TechnologyClouds", Model)

@if (Model.HasContactForm)
{
    @Html.Partial("ContactForm", new ContactForm())
}

@section scripts {
    <google-recaptcha-client></google-recaptcha-client>
}
